body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('Bild1.jpg.avif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 100px; /* Kleinere und dezentere Breite des Logos */
    margin-bottom: 10px; /* Kleinerer Abstand zwischen Logo und Anmeldecontainer */
}

.login-container {
    background: rgba(255, 255, 255, 0.8); /* Korrigierte rgba-Werte */
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten hinzugefügt */
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 20px 0 15px;
}

.login-container input {
    width: calc(100% - 20px); /* Sicherstellen, dass das Input-Feld innerhalb des Containers bleibt */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    background-color: #0F4336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0D3A30;
}
